---
title:
---

.start-page
  - sorted_articles[0..2].each do |article|
    %h2.article-header
      = article[:title]
    .byline
      by
      = article[:author]
      on
      = article[:created_at].strftime '%F'
    = article.compiled_content
