---
title: home
author_name: low level mechanizer
---

.row.intro
  :markdown
    This is the blog of **Hardy Ferentschik** and **Fredrik Rubensson**. We started this adventure back in 2007 and boldly stated that: *We are not sure where this journey is going, but you are welcome to the ride*. We are still riding on after seven years.

.row.intro
  %a( href="https://www.resetthenet.org/" )
    %img( src="https://www.resetthenet.org/images/banner-take-back.png" )
  :markdown
    No - the above is not an ad. We are promoting the great initiative **reset the net**. Click on the banner to get more information about this initiative. We will try to get this site on SSL in the near future as our part of the deal.

.start-page
  .start-page-section
    %h2.article-header
      Last 42 articles
    - sorted_articles[0..41].each do |article|
      = short article
  %center="------"
  .outro
    %i
      Find more posts in the 
      %a{ href: '/archive.html' }
        archives
      = '.' 
