<h2 class="article-header">
  <span class="byline"><%= "#{@item[:created_at].strftime '%F'} by #{@item[:author]}" %></span>
  <br/>
  <%= "#{@item[:title]}" %>
</h2>
<% if @item[:tags] %>
  <div class="tags">
    <% tags_for( @item ).each do |one_tag| %>
      <a class="one-tag" href="#<%= one_tag %>"><span class="icon-tag" /><%= one_tag %></a>
    <% end %>
  </div>
<% end %>
<%= yield %>

<% if tags_for( @item ).any? %>
  <div class="similar-articles">
    <% tags_for( @item ).each do |one_tag| %>
      <% similar_articles = items_tagged_with one_tag, [@item] %>
      <% if similar_articles.any? %>
        <h4><a name="<%= one_tag %>"><%= "Other articles tagged #{one_tag}" %></a></h4>
        <ul>
          <% similar_articles.each do |item| %>
            <li>
              <%= link_to item[:title], item %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
<% end %>
