<h2 class="article-header">
  <%= "#{@item[:title]}" %>
</h2>
<span class="byline"><%= "#{@item[:created_at].strftime '%F'} by #{@item[:author]}" %></span>
<% if @item[:tags] %>
  <span class="tags">
    <% tags_for( @item ).each do |one_tag| %>
      <a class="one-tag" href="#<%= one_tag %>"><span class="icon-tag" /><%= one_tag %></a>
    <% end %>
  </span>
<% end %>
<%= yield %>

<div class="dashed-top-border">
  <!-- disqus -->
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'highlevelbits'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  <!-- end disqus -->
</div>

<% if tags_for( @item ).any? %>
  <div class="dashed-top-border">
    <% tags_for( @item ).each do |one_tag| %>
      <% similar_articles = items_tagged_with one_tag, [@item] %>
      <% if similar_articles.any? %>
        <h4><a name="<%= one_tag %>"><%= "Other articles tagged #{one_tag}" %></a></h4>
        <ul>
          <% similar_articles.each do |item| %>
            <li>
              <%= link_to item[:title], item %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
<% end %>
